{% extends "base.html" %}

{% block content %}
<h1>Мои чаты</h1>
{% if current_user.is_authenticated %}
    <a href="/add_chat" class="btn btn-secondary">Создать новый чат</a><br><br>
{% endif %}
{% for item in chats%}
<div class="col-md6 border rounded">
    <h2>{{item.name}}</h2>
    <div>
        Создатель - {{item.admin.username}}, Дата написания - {{item.created_date}}
    </div>
    <div>
        <a href="/chats/{{item.id}}" class="btn btn-primary">Написать</a>
    </div>

</div>
{% endfor %}
{% endblock %}