{% extends "base.html" %}

{% block content %}
<h1>Зарегестрированные пользователи</h1>
{% if current_user.is_authenticated %}
<p><a href="/edit_profile" class="btn btn-warning">Редактировать свой профиль</a></p><br>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.search.label }}<br>
    <div class="row">
        <div class="col">
            {{ form.search(class="form-control") }}
        </div>
        <div class="col-md-auto">
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </div>
        {% for error in form.search.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <br>
    {% if error %}
    <p class="alert alert-warning" role="alert">
        {{ error }}
    </p>
    {% endif %}
</form>
{% for item in users%}
<div class="row border rounded">
    <div class="col">
        <div style="word-wrap: break-word;">
            <h2>{{item.name}} {{item.surname}}</h2>
            <p class="blockquote"><em>Имя пользователя:</em> <a href="/users/{{item.id}}">{{item.username}}</a></p>

        </div>
        <div style="word-wrap: break-word;">
            <strong>Описание:</strong> {{item.about}}
        </div>
        <div style="word-wrap: break-word;">
            <strong>Почта:</strong> {{item.email}}
        </div>
        <div>
            <strong>Дата регистрации:</strong> {{item.created_date}}
        </div>
        <br>
        {% if current_user.username != item.username %}
        <a class="btn btn-secondary" href="/chats/{{item.username}}_{{current_user.username}}">Написать</a>
        {% else %}
        <a class="btn btn-secondary" href="/chats/{{current_user.username}}">Зайти в свои заметки</a>
        {% endif %}
    </div>
    <div class="col-auto">
        <br>
        <img src="/static/img/users/{{item.icon_href}}" width="200" height="200"><br>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}
